html{
  color: wheat;
  background-color: rgb(30, 30, 30);
}

mark {

  color: black;
  padding: 0; 
  margin: 0; 
  display: inline; 
}

input::placeholder {
  color: rgba(0, 0, 0, .5);
}

.p {
  background-color: lemonchiffon;
}

.h {
  background-color: silver;
}

.b{
  background-color: rgb(116, 180, 244);
}

#displayOptions {
  display: none;
  justify-content: space-between;
}

#flexContainer {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 10px; 
  box-sizing: border-box;
  white-space: pre-wrap; 
  word-break: break-all;
}

#patternStartInput {
  text-align: right;
}

#downloadButton {
  display: none;
}
